---
layout: base.njk
title: Projects
heading: Projects
permalink: /projects/
---
<section class="section">
    {% include "section-heading.njk" %}
    {% set items = collections.projects %}
    {% include "project-grid.njk" %}
</section>
